<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인</title>
<script type="text/javascript" src="/js/signin/signin.js"></script>
<script type="text/javascript" src="/js/common/includeHTML.js"></script>
<link rel="stylesheet" type="text/css" href="/css/signin/signin.css">
</head>
<body>
<div id="root">
	<header id="header">
		<div id="header_box">
		</div>
	</header>
	<nav id="nav">
		<div id="nav_box">
		</div>
	</nav>
	<section id="container">
		<div id="container_box">
			본문영역
		</div>
	</section>
	<footer id="footer">
		<div id="footer_box">
		</div>
	</footer>
</div>
</body>
</html>