<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>가을 별자리</title>
<script type="text/javascript" src="/js/fall_constellation.js"></script>
<link rel="stylesheet" type="text/css" href="/css/fall_constellation.css">
</head>
<body>
<img class ="fall_star" id="pegasus" src="/img/pegasus.png">
<img class ="fall_star" id="perseus"  src="/img/perseus.png">
<img class ="fall_star" id="aries" src="/img/aries.png">
<img class ="fall_star" id="equ" src="/img/equ.png">
<img class ="fall_star" id="aquarius" src="/img/aquarius.png">


<div class="popup" id="popup-1">
  <div class="overlay"></div>
  <div class="content">
    <div class="close-btn" id="close-btn">&times;</div>
    <div class="div12">
	    <div class="div1"><img id="logo" src=""></div>
	    <div class="div2"><a href="" id="movie"></a></div>
    </div>
    <div class="div34">
	    <div class="div3"><h1 id="logo_name">Title</h1></div>
	    <div class="div4"><p id="main">.</p></div>
    </div>
  </div>
</div>
 
</body>
</html>