<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<title>별자리 사이트</title>

<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div class="top">
	<a href=""><input type="image" id="user" src="img/user.png" alt="회원정보"></a>
	<a href="shopping"><input type="image" id="menu" src="img/menu.png" alt="메뉴"></a>
</div>
<div class="center">
	<a href="selectweather"><input type="image" id="moon" src="img/moon.jpg" alt="달" ></a>
</div>


</body>
</html>