<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" type="text/css" href="/css/selectweather.css">
</head>
<body>
<div class="banner"> 
	<img src="css/spring.jpg">
	<span class="text"> 봄.</span>
</div> 
<div class="banner">
	<img src="css/summer.jpg">
	<span class="text"> 여름.</span>
 </div>
<div class="banner">
	<img src="css/fall.jpg">
	<span class="text"> 가을.</span>
</div>
	<div class="banner">
	<img src="css/winter.jpg">
	<span class="text"> 겨울.</span>
</div>

</body>
</html>