<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>계절 선택</title>

<link rel="stylesheet" type="text/css" href="/css/selectweather.css">
</head>
<body>

<div class="banner" onclick="location.href='spring_constellation'"> 
	<a href="spring_constellation">
	<img src="img/spring.jpg">
	<span class="text"> 봄.</span>
	</a>
</div> 

<div class="banner" onclick="location.href='summer_constellation'">
	<img src="img/summer.jpg">
	<span class="text"> 여름.</span>
 </div>
<div class="banner">
	<img src="img/fall.jpg">
	<span class="text"> 가을.</span>
</div>
	<div class="banner">
	<img src="img/winter.jpg">
	<span class="text"> 겨울.</span>
</div>

</body>
</html>