<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" type="text/css" href="/css/selectweather.css">
<link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>
<header>
	<div class="header">
		<a href="#spring">spring</a>
		<a href="#summer">summer</a>
		<a href="#fall">fall</a>
		<a href="#winter">winter</a>
	</div>
</header>
<div id="spring">봄</div>
<div id="summer">여름</div>
<div id="fall">가을</div>
<div id="winter">겨울</div>
</body>
</html>