<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>봄 별자리</title>
<script type="text/javascript" src="/js/spring_constellation.js"></script>
<link rel="stylesheet" type="text/css" href="/css/spring_constellation.css">
</head>
<body>
<div class="spring_star">
<img id=lion src="/img/lion.png">
</div>
<div class="popup" id="popup-1">
  <div class="overlay"></div>
  <div class="content">
    <div class="close-btn" onclick="togglePopup()" id="close-btn">&times;</div>
    <div class="div12">
	    <div class="div1"><img id="logo" src=""></div>
	    <div class="div2"><a href="" id="movie"></a></div>
    </div>
    <div class="div34">
	    <div class="div3"><h1 id="logo_name">Title</h1></div>
	    <div class="div4"><p id="main">.</p></div>
    </div>
  </div>
</div>
 
</body>
</html>