<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>봄 별자리</title>
<script type="text/javascript" src="/js/summer_constellation.js"></script>
<link rel="stylesheet" type="text/css" href="/css/summer_constellation.css">
</head>
<body>
<img class ="summer_star" id="lyra" src="/img/lyra.png">
<img class ="summer_star" id="aquila"  src="/img/aquila.png">
<img class ="summer_star" id="cygnus" src="/img/cygnus.png">
<img class ="summer_star" id="sagitta" src="/img/sagitta.png">
<img class ="summer_star" id="delphinus" src="/img/delphinus.png">
<img class ="summer_star" id="hercules" src="/img/hercules.png">
<img class ="summer_star" id="sagittarius" src="/img/sagittarius.png">
<img class ="summer_star" id="scorpius" src="/img/scorpius.png">

<div class="popup" id="popup-1">
  <div class="overlay"></div>
  <div class="content">
    <div class="close-btn" id="close-btn">&times;</div>
    <div class="div12">
	    <div class="div1"><img id="logo" src=""></div>
	    <div class="div2"><a href="" id="movie"></a></div>
    </div>
    <div class="div34">
	    <div class="div3"><h1 id="logo_name">Title</h1></div>
	    <div class="div4"><p id="main">.</p></div>
    </div>
  </div>
</div>
 
</body>
</html>