<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>겨울 별자리</title>
<script type="text/javascript" src="/js/winter_constellation.js"></script>
<link rel="stylesheet" type="text/css" href="/css/winter_constellation.css">
</head>
<body>
<img class ="winter_star" id="orion" src="/img/orion.png">
<img class ="winter_star" id="gemini"  src="/img/gemini.png">
<img class ="winter_star" id="auriga" src="/img/auriga.png">
<img class ="winter_star" id="canis_major" src="/img/canis_major.png">
<img class ="winter_star" id="canis_minor" src="/img/canis_minor.png">
<img class ="winter_star" id="taurus"  src="/img/taurus.png">

<div class="popup" id="popup-1">
  <div class="overlay"></div>
  <div class="content">
    <div class="close-btn" id="close-btn">&times;</div>
    <div class="div12">
	    <div class="div1"><img id="logo" src=""></div>
	    <div class="div2"><a href="" id="movie"></a></div>
    </div>
    <div class="div34">
	    <div class="div3"><h1 id="logo_name">Title</h1></div>
	    <div class="div4"><p id="main">.</p></div>
    </div>
  </div>
</div>
 
</body>
</html>